 body {text-align:center;
        background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6158205/bg_75.gif');  
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      font-family:comicsansms;
      background-color:black}
      
      h1   {color: blue;padding-top: 20px}
      h2 {color: yellow}
      h3 {color: green}
      p    {color: red;}
         body {color:white;}
