 header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the center */
  padding: 20px;
}

h1 {
  text-align: left;
  padding: 20px;
  margin: 0;
  border-bottom: 10px solid #eb8334;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #438c59; /* Add color */
  font-family: comicsansms;
  padding: 10px;
}

body {
  margin: 10;
  font-family: "Arial", sans-serif;
  background-color: #f3f5c4;
  color: #438c59;
  
}

h2, h3, p {
  text-align: left;
  padding: 5px;
  padding-left: 30px;
  margin: 0;
 
}



        /* Flexbox gallery layout */
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            padding: 20px;
            align-items: flex-start;
  
        }

        .gallery {
            flex: calc(33.0% - 40px); 
            max-width: calc(60% - 40px);
            border:1px solid #ccc;
            border-radius: 9px;
            overflow: hidden;        
        }

        .gallery img {
            width: 100%;
            height: auto;
            transition: transform 0.3s, box-shadow 0.3s;
           display: block; 
           margin-bottom: 0;
        }

        .gallery img:hover {
            transform: scale(1.05); /* Slight zoom-in effect */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .gallery {
  position: relative;
}

.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(20, 0, 0, 0.7); /* Semi-transparent background */
  color: #fff;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for the hover effect */
}

.gallery:hover .desc {
  opacity: 1; /* Show description when hovering over the gallery */
}

        /* Responsive design for smaller screens */
        @media (max-width: 768px) {
            .gallery {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }

