 body {text-align:center;
        background-image: url('https://i.pinimg.com/originals/ef/5e/4b/ef5e4b4d024c66b42311e337ae8ab4cc.gif');  
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      font-family:comicsansms;
      background-color:black}
      
      h1   {color: blue;padding-top: 20px}
      h2 {color: yellow}
      h3 {color: green}
      p    {color: red;}
         body {color:white;}
